/target
/.idea
/.vscode
tests/big_files/ape-4-0.10b.gfa
tests/big_files/ape-4-0.10b.gfa2
tests/big_files/CHM13v1Y-GRCh38-HPP58-0.12.gfa
tests/big_files/GRCh38-20-0.10b.gfa
tests/gfa1_files/diatom.gfa
tests/output_files/ape-4-0.10b.json
tests/output_files/ape-4-0.10b.gfa2.json
tests/output_files/ape-4-0.10b.gfa2.txt
