/target
/.idea
/.vscode
/tests/output_files/ape-4-0.10b.gfa2.json
/tests/output_files/ape-4-0.10b.gfa2.txt
/tests/output_files/ape-4-0.10b.gfa2.bin
/tests/big_files/ape-4-0.10b.gfa
/tests/big_files/ape-4-0.10b.gfa2
/tests/big_files/CHM13v1Y-GRCh38-HPP58-0.12.gfa
/tests/big_files/CHM13v1Y-GRCh38-HPP58-0.12.gfa2
/tests/big_files/GRCh38-20-0.10b.gfa
/tests/big_files/GRCh38-20-0.10b.gfa2
tests/output_files/default_path/converted_hashgraph.gfa2
